
.navbar{
  background-color: bisque;
  height: 67px;
}

.signout{
  margin: 23px 0px;
}
.register-form .form-group{
  height: 44px;
}
.login-text{
  margin: 3px 0px 10px;
}
.submit{
  margin-top: 6px;
}
a{
  text-decoration: none;
}
#fileupload{
 position: absolute;
 left: 395px;
 top: 1px;
 width:115px;
}
.message-submit{
  margin-top: -31px;
}
.message-group{
  width:86%;
}
img{
  width:30%;
  height: 135px!important;
}
.data strong{
  color: darkgoldenrod;
}
.createdAt{
  font-size: 9px;
}
/*
.chat-box{
  position: absolute;
  border: 1px solid rosybrown;
  left: 169px;
  top: 82px;
  width: 570px;
  height: 336px;
  overflow: auto;
}
.chat-heading{
  padding: 0px 11px;
  font-weight: 600;
}
.chat-message-typer{
  position: absolute;
  left: 169px;
  top: 419px;
  width:353px;
  height:27px;
}
.data{
  padding: 0px 4px;
}
.file-picker{
  position: absolute;
  top:425px;
  left:534px;
}

*/
